/* Container & Media Queries */

@container (min-width: 768px) {
  /* Styles for larger screens */
  header .header-container h1 {
    margin: 0;
    padding: 10px;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px #00000072;
  }

  header .header-container h4 {
    margin: 0;
    padding: 1px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 20px;
    text-shadow: 1px 1px 2px #000000b2;
  }

  header .header-button {
    font-size: 1.5rem;
  }

  main .main-container .main-button {
    font-size: 1.5rem;
    text-shadow: 0px 0px 3px #000000dc;
  }
}

@container (max-width: 767px) {
  /* Styles for smaller screens */
  header .header-container h1 {
    margin: 0;
    padding: 10px;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #00000072;
  }

  header .header-container h4 {
    margin: 0;
    padding: 1px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 20px;
    text-shadow: 1px 1px 2px #000000b2;
  }

  header .header-button {
    font-size: 1.5rem;
  }

  main .main-container .main-button {
    font-size: 1.2rem;
    text-shadow: 0px 0px 3px #000000dc;
  }
}

/* Smartphones */
@media only screen and (max-width: 768px) {
  main .main-container {
    flex-direction: column;
  }

  main .main-container .main-button {
    width: 70%;
    height: 30%;
  }
}

/* Tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  main .main-container {
    flex-direction: column;
  }

  main .main-container .main-button {
    width: 50%;
    height: 30%;
  }
}

/* Desktops */
@media only screen and (min-width: 1025px) {
  main .main-container {
    flex-direction: row;
  }

  main .main-container .main-button {
    width: 30%;
    height: 70%;
  }
}

/* Global Styles */

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* Header Styles */

header {
  display: flex;
  width: 99vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(img/BG.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  scroll-snap-align: center;
}

header .header-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .header-button-container {
  display: flex;
  justify-content: center;
}

header .header-button {
  margin: 0 auto;
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.2s;
  color: black;
  text-shadow: 0px 0px 2px #00000065;
}

header .header-button:hover {
  color: rgb(164, 164, 164);
}

header .header-button:active {
  color: rgb(226, 226, 226);
}

/* Main Styles */
main {
  display: flex;
  width: 99vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  scroll-snap-align: center;
}

main .main-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

main .main-button {
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  word-wrap: break-word;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
}

main .main-button:hover {
  filter: brightness(90%);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.9);
}

main .main-button:active {
  filter: brightness(70%);
}
